* {
    margin: 0;
    padding: 0;
}
 
body {
    background-color:  #E6E7EB;
    width: 100%;
    margin: 100px auto;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
 
#grid-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    /* background-color: white; */
    /* padding-bottom: 50px; */
    /* border: 2px solid black; */
}

#section1 {
    width: 30%;
     height: 650px;  /* 795px */
    background-color: #F6F7F9;
}

#section1 .h5 {
   padding-top: 2rem;
   margin-left: 40px;
}

/* .line {
    padding-top: 2rem; 
    line-height: 100px;
} */

.logo-container {
    margin-top: 70px;
}

.text-content {
  margin-left: 40px;
  /* margin-top: 80px; */
}

.text-content h5 {
    font-weight: 600;
    font-size: 1.1rem;
    color: #272729;
    margin-bottom: 20px;
}
.text-content h4 {
    font-weight: 600;
    font-size: 20px;
   
}
.text-content p {
    margin-top: 10px;
    color: #6E7883;
    font-size: 0.9rem;
   
}
#section2 {
    width: 60%;
    /* display: flex; */
    background-color: white;
    /* justify-content: center; */
    /* height: 1200px; */
}
 
#custom {
    display: flex;
    justify-content: space-between;
    margin: 20px;
   
}
#custom h3 {
    font-size: 25px;
    color: #434449;  
}

#custom p{
    font-size: 14px;
    margin-top: 5px;
    color: #93969B;
}

.custom-btn {
    width: 180px;
    /* height: 50px; */
    padding: 10px 0;
    font-size: 14px;
    background: transparent;
    border-radius: 8px;
    border: 2px solid #f2f3f7;
    color: #434449;
}

.style {
     display: flex;
     gap: 10px;
}

.all {
   justify-content: center;
    /* text-align: center; */
   background-color: #F9FAFC;
    width: 530px;
    height: 30px;
    border: 2px solid #f2f3f7;
    /* padding-top: 8px; */
    align-items: center;
    border-radius: 8px ; 
}

.b {
    width: 100px;
    height: 30px;
    /* margin: 1px 2px 1px 1px; */
    background: white;
    border: 1px solid #f2f3f7;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color:#797C8A;
    font-size: 14px
}

input{
    width: 100px;
    height: 30px;
}

/* .logo-container {
     padding-top: 200px;
    padding-bottom: 200px; 
} */
 
#section1 h5 {
    padding-top: 50px;
}
 
.icons {
    display: flex;
    /* padding: 10px; */
    /* gap: 40px;
    font-size: 13px; */
} 
 
.icons p {
    /* padding-right: 250px; */
    font-size: 14px;
    color:#BFC1CA;
}

/* .learn {
    padding-left: 300px;
} */

.btn {
    padding: 10px 20px;
    background: transparent;
    border-radius: 10px;
}
.last-btn {
    display: flex;
    gap: 380px;
    padding-top: 40px;
}
.btn1 {
    padding: 10px 20px;
    margin-left: 20px;
    width: 150px;
    background: transparent;
    border-radius: 8px;
}
.btn2 {
    width: 150px;
    margin-right: 30px;
    background-color: black;
    color: white;
    border-radius: 8px;
    /* padding: 10px 20px; */
}